@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Monomaniac One", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap");

.opensans {
  font-family: "Open Sans", Arial, sans-serif;
}
.monomaniac {
  font-family: "Monomaniac One", sans-serif;
}
.poppins {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.quicksand {
  font-family: Quicksand, Arial, sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}
